Repository Safe-On/Safe-On, pull requests merged in 2025-08, with the labels that each got.

#9 [feat] #5 - git test
  backend/run.py
Labels: feat, backend, minseo

#62 [feat] #58 시니어모드 내정보 화면 구현
  frontend/App.tsx
  frontend/screens/Settings_Senior.tsx
Labels: feat, frontend, serim

#76 [feat] #74 사용자 정보에 따른 쉼터 거리 한정
  frontend/screens/Login.tsx
  frontend/screens/Map.tsx
  frontend/screens/ProfileSetup.tsx
  frontend/screens/auth/AuthContext.tsx
Labels: feat, frontend, ryukyoung

#80 [feat] #75 - 쉼터 즐겨찾기 기능 구현
  backend/app/models/favorite.py
  backend/app/routers/auth.py
  backend/app/routers/favorites.py
Labels: heewon, feat, backend

#81 [feat]#79 쉼터 리뷰 데이터 연동
  frontend/navigation/BottomTabNavigator.tsx
  frontend/screens/Home.tsx
Labels: feat, frontend, serim

#83 [feat] #61 지도 위 쉼터 추가 버튼과 쉼터 추가 화면의 API 연결
  frontend/screens/AddShelter.tsx
  frontend/screens/Home.tsx
  frontend/screens/Map.tsx
  frontend/screens/ProfileSetup.tsx
  frontend/screens/ShelterDetail.tsx
  frontend/screens/auth/AuthContext.tsx
  frontend/screens/types/shelter.ts
  frontend/screens/utils/mapShelter.ts
Labels: feat, frontend, ryukyoung
